<!-- Quiere decir que home herda de base.html  -->
{% extends "ProyectoWebApp/base.html" %} 

<!-- Carga las imagenes -->
{% load static %}

<!-- Agregar el bloque de contenido  -->
{% block content  %}
<div class="d-flex justify-content-center gap-4 mt-4  fw-bolder contenedorCategorias  ">
  {% for post in posts %}
    {% for categoria in post.categorias.all %}
    <div class="contenedorCategorias d-flex align-items-center m-2 flex-wrap ">
      <img src="{% static 'ProyectoWebApp/img/estellaAmarilla.png' %}" alt="" 
        class="imgCategorias ">
      <a href="{% url 'blog' %}"><h4 class="textoCategorias me-4">Atras</h4></a>
      <img src="{% static 'ProyectoWebApp/img/estellaAmarilla.png' %}" alt="" 
        class="imgCategorias ">
      <a href=""><h4 class="textoCategorias "> {{categoria.nombre}}</h4></a>
    </div>
    {% endfor %}
  {% endfor %}
</div>

  <div class="container text-center">
    <div class="row">
      <h2 class="text-start mt-5  fw-bold  fs-1 titleBlog">Post recientes</h2>
    {% for post in posts %}
      <div class="col d-flex mt-5 ">
        <div class="d-flex flex-column containerPost justify-content-start align-items-start ">
          <div class="">
            <img src="{{post.imagen.url}}" alt="{{post.titulo}}" class="imgPost">
          </div>
          <div class="containerPost d-flex flex-column text-start a">
            <div class="d-flex flex-column align-items-start ms-1 mt-4">
              <h4 class="fw-bolder fs-4">{{post.titulo}}</h4>
              <p class="fw-normal fs-6 text">{{post.contenido}}</p>
            </div>
            
            <div class="d-flex gap-2 ms-1">
              <p>
                <span class="fw-semibold">{{post.autor}}</span>
                <span class="fw-bold ">°</span>
              </p>
              <p class="fw-semibold">{{post.created}}</p>
            </div>
          </div>
            
        </div>
      </div>
    {% endfor%}
    </div>
  </div>



  
{% endblock  %}
  